:root {
    --clr: rgba(89, 68, 49, 0.12);
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-image: url(https://cdn.spacetelescope.org/archives/images/screen/heic0913f.jpg);
    background-size: cover;

}

.sun {
    height: 270px;
    width: 270px;
    background: linear-gradient(60deg, yellow, red 70%);
    border-radius: 50%;
    /* box-shadow:
        40px 40px 100px var(--clr),
        -40px -40px 100px var(--clr),
        40px -40px 100px var(--clr),
        -40px 40px 100px var(--clr); */
    transition: all 5s linear;
    position: sticky;
    top: 0;
    animation: sun 60s linear infinite;
    z-index: 100;
    background-image: url(sun.png);
    background-size: cover;
}

.stars {
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.star {
    height: 5px;
    width: 5px;
    background: none;
    margin: 10px;
    border-radius: 50%;
}

.bigstar {
    background: rgba(255, 255, 255, 0.4);
    filter: blur(2px);
    transition: all 5s ease;
}

.sstarone {
    height: 3px;
    width: 3px;
    animation: shining 6s linear 4s alternate infinite;
}

.sstartwo {
    height: 4px;
    width: 4px;
    animation: shining 12s ease 9s alternate infinite;
}

.sstarthree {
    height: 5px;
    width: 5px;
    animation: shining 18s ease-in 15s infinite;
}

.sstarfour {
    height: 6px;
    width: 6px;
    animation: shining 24s ease-out 21s infinite;
}

.sstarfive {
    height: 7px;
    width: 7px;
    animation: shining 30s ease-in-out 27s infinite;
}

.sstarsix {
    height: 6px;
    width: 6px;
    animation: shining 36s ease 12s infinite;
}

.earth {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    background-image: url(earth.png);
    background-size: cover;
    animation: sun 6s linear infinite;
    z-index: 100;
}

.earthsorbit {
    height: 660px;
    width: 660px;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    position: absolute;
    border-radius: 50%;
    z-index: -2;
    animation: earthrotation 60s linear infinite;
}

.moon {
    height: 300px;
    width: 300px;
    transform: translate(-26%, -25%);
    /* border: 1px solid rgba(255, 255, 255, 0.4); */
    border-radius: 50%;
    animation: moonrotation 6s linear infinite;
}

.rmoon {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background: url(moon.png);
    background-size: cover;
}

@keyframes shining {
    100% {
        background-color: white;
        filter: blur(1px);
        transform: translate(100px, 20px);
    }
}

@keyframes sun {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes earthrotation {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moonrotation {
    100% {
        transform: translate(-26%, -25%) rotate(360deg);
    }
}

@media screen and (min-width:300px) and (max-width:900px) {
    body {
        background: url(https://cdn.spacetelescope.org/archives/images/screen/heic0913f.jpg);
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        position: fixed;
        background-size: cover;
    }

    .sun {
        height: 200px;
        width: 200px;
    }

    .earth {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        position: absolute;
        background-image: url(earth.png);
        background-size: cover;
        animation: sun 6s linear infinite;
        z-index: 100;
    }

    .earthsorbit {
        height: 580px;
        width: 580px;
        /* border: 1px solid rgba(255, 255, 255, 0.1); */
        position: absolute;
        border-radius: 50%;
        z-index: -2;
        animation: earthrotation 60s linear infinite;
    }

    .moon {
        height: 240px;
        width: 240px;
        transform: translate(-26%, -25%);
        /* border: 1px solid rgba(255, 255, 255, 0.4); */
        border-radius: 50%;
        animation: moonrotation 6s linear infinite;
    }

    .rmoon {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: url(moon.png);
        background-size: cover;
    }
}
